<h1>Ainesosia</h1>

<table class="bordered-table condensed-table zebra-striped">
  <thead>
    <tr><th>Nimi</th><th>Kuvaus</th><th>Viittaukset</th></tr>
  </thead>
  <% @ingredients.each do |item| %>
    <tr>
      <td> <%= link_to item.name, ingredient_path(item) %> </td>
      <td> <%= truncate(item.description, :length => 80) %> </td>
      <td> <%= item.fooditems.count %> </td>
    </tr>
  <% end %>
</table>

<div class="btn">
  <%= link_to "Uusi", new_ingredient_path %>
</div>

